{
  "root": true,
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx"] }]
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
